body {
    background-color: aquamarine;
    /* background Shorthand */
    /* background-size may only be included after position, separated with the '/' character */
    /* image, repeat style, postion, background size */
    /* background: url(../img/69K0zN.jpg) no-repeat center/cover; */
    
    /* background-size may be declared independently */
    background: blue url(../img/69K0zN.jpg) no-repeat;
    background-size: cover;
}
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/tahomabd.ttf);
}
h1 {
    font-family: myFirstFont;
    font-size: 16px;
}
h2 {
    font-size: 14px;
}
/* Media Queries */
/* Media type is the broad category of devices that display web documents */
/* all: matches to all devices  */
/* print: matches to printers and print-related displays */
/* speech: matches to screen reading devices that "read out" a page  */
/* screen: matches all devices that aren't categorized as print or speech  */
/* Media Features are used to test a specific feature of the device */
/* @media (width: 480px) {...} */
/* @media (orientation: landscape) {...} */
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 12px;
    }
}