body {
    background-color: aquamarine;
    /* background Shorthand */
    /* background-size may only be included after position, separated with the '/' character */
    /* image, repeat style, postion, background size */
    /* background: url(../img/69K0zN.jpg) no-repeat center/cover; */
    
    /* background-size may be declared independently */
    background: blue url(../img/69K0zN.jpg) no-repeat;
    background-size: cover;
}
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/tahomabd.ttf);
}
h1 {
    font-family: myFirstFont;
}